*, *::before, *::after{
  box-sizing: border-box;
}

body{
  font-family: 'Lato', sans-serif;
  line-height: 1.5;
}

img, span, button{
  vertical-align: middle;
}

img{
  width: 100%;
  object-fit: cover;
  object-position: center;
}

a{
  text-decoration: none;
  color: inherit !important;
}
