<div class="modal fade" id="viewAdminModal" tabindex="-1" aria-labelledby="viewAdminModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-body p-8">
        <div class="d-flex">
          <div class="admin-img flex-shrink-0" style="height: 141px; width: 141px;overflow: hidden;">
            <img src="../assets/images/emir.jpeg" class="img-fluid h-100" alt="emir's personal picture">
          </div>

          <div class="ms-6 flex-grow-1">
            <div class="d-flex">
              <div class="info">
                <p>#1</p>
                <p>Admin</p>
                <p class="fs-6 fw-bold mb-2">Emir Wicks</p>
                <p class="text-gray600 fs-3h">emir.wicks@mail.com</p>
              </div>
              <button type="button" class="btn-close p-0 ms-auto" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            <div>
              <div class="accordion accordion-flush mt-5" id="accordionExample">
                <div class="accordion-item">
                  <h2 class="accordion-header">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                      <span class="badge bg-light text-gray600 rounded-pill">
                        Verified
                      </span> 
                    </button>
                  </h2>
                  <div id="collapseOne" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                    <div class="accordion-body d-flex gap-4 mt-8">
                      <button class="btn btn-outline-danger flex-fill">Deactivate</button>
                      <button class="btn btn-success flex-fill">Edit</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>

      



          </div>
        </div>
      </div>
    </div>
  </div>
</div>